.services-section {
  color: #fff;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fca311;
}

.service-card {
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.service-card:hover {
  transform: translateY(-10px);
  background: #333;
}

.service-icon {
  font-size: 3rem;
}

.service-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.service-desc {
  font-size: 0.95rem;
  opacity: 0.8;
}
