
  
  #resume h2 {
    font-size: 2.5rem;
    border-bottom: 2px solid aquamarine !important;
    display: inline-block;
    padding-bottom: 0.2rem;
  }
  
  .border-start {
    border-left: 3px solid aquamarine !important;
  }
  
  .container{
    color: white;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .text-primary{
    color:aquamarine !important;
  }