.home__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
}
:hover .home__img{
    transform: scale(1.1);
    transition: 0.1s;
}
.home__name{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
.home__education{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}