.footer{
    padding: 2px;
    display:flex;
    margin-top: 50px;
    justify-content: space-between;

}
.icon{
    display:flex;
    justify-content: space-evenly;
}
.icons{
    height: 30px;
    width: 30px;
}