
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

.all {
  background:linear-gradient( to left , rgb(48, 48, 48) , black);
  color: white;
  min-height: 100vh;
   font-family: 'Courier New', Courier, monospace;
   
}

.all1 {
  background-color: rgba(0, 0, 0, 0.706);
  padding: 2rem;
  min-height: 100vh;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
   margin:0px;
   padding: 0px;
   background-attachment: fixed;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
